@using SalesDepartment.Application.UseCases.Payments.Commands.CreatePayment;
@using SalesDepartment.Domain.Entities;
@using SalesDepartment.Application.UseCases.PaymentTypes.Response;
@using SalesDepartment.Application.UseCases.Contracts.Response;

@{
    ViewData["Title"] = "CreatePayment";
    Layout = "_Layout";

    PaymentTypeResponse[] PaymentTypes = ViewData["PaymentTypes"] as PaymentTypeResponse[];
    ContractResponse[] Contracts = ViewData["Contracts"] as ContractResponse[];
}

@model CreatePaymentCommand

<h3 class="text-center">Add new Payment</h3>
<hr />
<form asp-controller="Payment" asp-action="CreatePayment" enctype="multipart/form-data" method="post">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="overflow-y:scroll; width:50%; height:70vh">

                <div class="form-group mt-3">
                    <label asp-for="PaymentNumber" class="form-label">PaymentNumber:</label>
                    <input asp-for="PaymentNumber" type="text" class="form-control" placeholder="Enter PaymentNumber">
                    <span asp-validation-for="PaymentNumber" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="PaymentDate">PaymentDate:</label>
                    <input asp-for="PaymentDate" type="date" class="form-control" required />
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Amount" class="form-label">Amount:</label>
                    <input asp-for="Amount" type="text" class="form-control" placeholder="Enter Amount">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="AmountsInWords" class="form-label">AmountsInWords:</label>
                    <input asp-for="AmountsInWords" type="text" class="form-control" placeholder="Enter AmountsInWords">
                    <span asp-validation-for="AmountsInWords" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="ContractId">ContractId:</label>
                    <select class="form-control" id="ContractId" name="ContractId" required>
                        <option value="">Choose Contract Number</option>
                        @foreach (var contract in Contracts)
                        {
                            <option value="@contract.Id">@contract.ContractNumber</option>
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="PaymentTypeId">PaymentTypeId:</label>
                    <select class="form-control" id="PaymentTypeId" name="PaymentTypeId" required>
                        <option value="">Choose Payment Type</option>
                        @foreach (var paymentType in PaymentTypes)
                        {
                            <option value="@paymentType.Id">@paymentType.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group button-group mt-3">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
