@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <h1 class="display-4" style="padding-top: 10px; font-weight:700">Automation Of Sales Department</h1>

    <div class="d-flex align-items-center justify-content-center" id="main">
        <img src="/Sales3.webp" height="400px" />
    </div>

    <div class="button-container">
        <a asp-controller="Employee" asp-action="GetAllEmployees" class="btn btn-primary">Some Button Here</a>
    </div>
</div>

<style>
    .button-container {
        margin-top: 20px;
    }
</style>

