@using SalesDepartment.Application.UseCases.Homes.Commands.CreateHome;
@using SalesDepartment.Domain.Entities;

@{
    ViewData["Title"] = "CreateHome";
    Layout = "_Layout";
}

@model CreateHomeCommand

<h3 class="text-center">Add new Home</h3>
<hr />
<form asp-controller="HomeBuilding" asp-action="CreateHome" enctype="multipart/form-data" method="post">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="overflow-y:scroll; width:50%; height:70vh">

                <div class="form-group mt-3">
                    <label asp-for="Block" class="form-label">Block:</label>
                    <input asp-for="Block" type="text" class="form-control" placeholder="Enter Block">
                    <span asp-validation-for="Block" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Entrance" class="form-label">Entrance:</label>
                    <input asp-for="Entrance" type="text" class="form-control" placeholder="Enter Entrance">
                    <span asp-validation-for="Entrance" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Floor" class="form-label">Floor:</label>
                    <input asp-for="Floor" type="text" class="form-control" placeholder="Enter Floor">
                    <span asp-validation-for="Floor" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="ApartmentNumber" class="form-label">ApartmentNumber:</label>
                    <input asp-for="ApartmentNumber" type="text" class="form-control" placeholder="Enter ApartmentNumber">
                    <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="NumberOfRooms" class="form-label">NumberOfRooms:</label>
                    <input asp-for="NumberOfRooms" type="text" class="form-control" placeholder="Enter NumberOfRooms">
                    <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Area" class="form-label">Area:</label>
                    <input asp-for="Area" type="text" class="form-control" placeholder="Enter Area">
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>

                <div class="form-group button-group mt-3">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
