@model IFormFile

@{
    ViewData["Title"] = "Create Home From Excel File";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="excelfile">Select Excel File:</label>
        <input type="file" name="excelfile" id="excelfile" class="form-control-file" required accept=".xlsx">
    </div>

    <button type="submit" class="btn btn-primary">Upload Excel</button>
</form>
