@using SalesDepartment.Application.UseCases.Customers.Commands.CreateCustomer;
@using SalesDepartment.Domain.Entities;

@{
    ViewData["Title"] = "CreateCustomer";
    Layout = "_Layout";
}

@model CreateCustomerCommand

<h3 class="text-center">Add new Customer</h3>
<hr />
<form asp-controller="Customer" asp-action="CreateCustomer" enctype="multipart/form-data" method="post">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="overflow-y:scroll; width:50%; height:70vh">

                <div class="form-group mt-3">
                    <label asp-for="FirstName" class="form-label">FirstName:</label>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="LastName" class="form-label">LastName:</label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Enter LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="MiddleName" class="form-label">MiddleName:</label>
                    <input asp-for="MiddleName" type="text" class="form-control" placeholder="Enter MiddleName">
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Passport" class="form-label">Passport:</label>
                    <input asp-for="Passport" type="text" class="form-control" placeholder="Enter Passport">
                    <span asp-validation-for="Passport" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="PassportIssuedBy" class="form-label">PassportIssuedBy:</label>
                    <input asp-for="PassportIssuedBy" type="text" class="form-control" placeholder="Enter PassportIssuedBy">
                    <span asp-validation-for="PassportIssuedBy" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Address" class="form-label">Address:</label>
                    <input asp-for="Address" type="text" class="form-control" placeholder="Enter Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="PhoneNumberOne" class="form-label">PhoneNumberOne:</label>
                    <input asp-for="PhoneNumberOne" type="text" class="form-control" placeholder="Enter PhoneNumberOne">
                    <span asp-validation-for="PhoneNumberOne" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="PhoneNumberTwo" class="form-label">PhoneNumberTwo:</label>
                    <input asp-for="PhoneNumberTwo" type="text" class="form-control" placeholder="Enter PhoneNumberTwo">
                    <span asp-validation-for="PhoneNumberTwo" class="text-danger"></span>
                </div>

                <div class="form-group button-group mt-3">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
